name: Sync labels
on:
  push:
    paths:
      - ".github/labels.yml"
  workflow_dispatch:
permissions:
  contents: write
  statuses: write

jobs:
  sync:
    name: Run EndBug/label-sync
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: EndBug/label-sync@v2
        with:
          config-file: ".github/labels.yml"
          delete-other-labels: false
